
@media only screen and (max-width: 1199px) {
	/* FONT -----------------------------------------------------*/
	body {
		font-size: 14px;
		line-height: 16px;
	}
	.title1 {
		font-size: 36px;
		line-height: 42px;
	}
	.title2 {
		font-size: 24px;
		line-height: 28px;
	}
	.title3 {
		font-size: 24px;
		line-height: 33px;
	}
	.title4 {
		font-size: 18px;
		line-height: 25px;
	}
	/* UNIVERSAL BLOCKS------------------------------------------- */
	.title-block {
		padding-top: 96px;
	}
	.divider {
		width: 142px;
		margin-top: 46px;
	}
	.paragraph {
		margin: 32px 0px 0px 0px;
	}
	.fa-brands--social {
		font-size: 55px;
	}
	/* ---------------------------------------------------------- */
	.header__menu {
		margin-right: 20px;
	}
	.main-banner__content-block {
		padding-top: 137px;
		padding-bottom: 106px;
	}
	.main-banner__text-block {
		padding-left: 100px;
	}
	.main-banner__logo-block {
		width: 183px;
		height: 75px;
	}
	.main-banner__divider {
		width: 115px;
		margin-top: 40px;
	}
	.main-banner__block-under-h1 {
		width: 183px;
	}
	.main-banner__paragraph {
		padding: 31px 0px 0px 0px;
	}
	.main-banner__download-button {
		width: 183px;
		height: 50px;
		margin-top: 31px;
	}
	.form-wrap {
		padding-right: 5px;
		padding-left: 0;
	}
	.social-media__text-block {
		margin-bottom: 13px;
	}
	.social-media__header-text {
		padding-top: 12px;
	}
	.social-media__paragraph {
		margin-top: 23px;
	}
	.social-media__link-list {
		width: 568px;
	}
	.social-media__link-list__item {
		width: 64px;
		height: 64px;
	}

	.features__tabs-list {
		padding-top: 50px;
	}
	.features__text-block {
		margin: 0px 26px 0px 85px;
	}
	.features__text-block__header-text {
		padding-top: 28px;
	}
	.features__text-block__paragraph_2 {
		padding-top: 13px;
	}
	.features__text-block__download-button {
		width: 232px;
		margin: 38px 0px 0px 0px;
	}
	.features__image-block {
		flex-shrink: 0;
	}
	.features__image {
		width: 398px;
		height: 385px;
		object-fit: cover;
	}

	.about__main-block {
		margin-top: 32px;
	}
	.about__main-block__image-block {
		width: 80px;
		height: 80px;
		margin: 34px auto 0px;
		background-image: url(../images/Ellipse\ 6\ \(1\).svg);
	}
	.bulb-image {
		width: 56px;
		height: 56px;
	}
	.keyboard-image {
		width: 57px;
		height: 40px;
	}
	.lightning-image {
		width: 38px;
		height: 57px;
	}
	.about__main-block__header-text {
		margin-top: 62px;
	}
	.about__main-block__paragraph {
		margin-top: 45px;
	}
	.pricing__main-block {
		margin-top: 50px;
		padding-bottom: 50px;
	}

	.pricing__main-block__header-text {
		font-size: 24px;
		line-height: 33px;
	}
	.pricing__main-block__price {
		font-size: 36px;
		line-height: 42px;
	}
	.pricing__main-block__paragraph {
		font-size: 18px;
		line-height: 21px;
	}
	.pricing__main-block__list-item {
		font-size: 18px;
		line-height: 21px;
	}
	.pricing__center-box {
		transform: translateY(-18px);
		/* padding: 0;
		margin: 0 10px 0 10px;
		flex-shrink: 1; */
	}
	.pricing__main-block__box:first-child {
		padding-left: 0px;
	}
	.pricing__main-block__box:last-child {
		padding-right: 0px;
	}

	.reviews__main-block {
		margin: 32px 0px 57px 0px;
	}
	.reviews__main-block__box {
		padding: 0px 10px 0px 10px;
	}
	.reviews__main-block__box:first-child {
		padding-left: 0;
	}
	.reviews__main-block__box:last-child {
		padding-right: 0;
	}
	.reviews__main-block__blockquote {
		padding: 50px 15px 50px 15px;
	}
	.reviews__main-block__image-block {
		width: 64px;
		height: 64px;
		margin: 66px 0px 0px 0px;
	}
	.reviews__main-block__text-block {
		margin: -57px 0px 0px 85px;
	}
	.reviews__main-block__text-block__name {
		padding-top: 0;
	}
	.reviews__main-block__text-block__speciality {
		margin-top: 15px;
	}

	.second-banner__button {
		max-width: 318px;
	}

	.contact__form-block {
		margin-top: 72px;
	} 
	.contact__col1 {
		padding-left: 0;
		padding-right: 10px;
	}
	.contact__col2 {
		padding-right: 0;
		padding-left: 10px;
	}
	.contact__button {
		max-width: 317px;
	}

	.footer__link-list {
		width: 477px;
	}
	
	.footer__link-list__item {
		width: 53px;
		height: 53px;
	}
	.fa-brands--footer {
		font-size: 48px;
	}
	.footer__copyright-block__paragraph {
		margin-top: 42px;
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 991px) {
	.title-block {
		padding-top: 46px;
	}
	.divider {
		margin-top: 46px;
	}
	.paragraph {
		margin-top: 24px;
	}

	.container{
		max-width: 960px;
	}

	.invisible-col--2, .invisible-col--3, .invisible-col--4, .invisible-col--5  {
		display: block;
	} 

	.header__logo-image {
		margin-left: 40px;
	}
	.header__menu {
		display: none;
	}
	.header__burger-block {
		display: block;
		background: none;
		margin-right: 40px;
	}
	.header__burger-icon {
		width: 35px;
		height: 35px;
	}	

	.main-banner {
		background-position: center;
	}
	.main-banner__content-block {
		display: block;
		padding-top: 100px;
		padding-bottom: 80px;
	}
	.main-banner__text-block {
		text-align: center;
		padding: 0;
		margin-bottom: 75px;
	}
	.main-banner__logo-block {
		margin: 0 auto;
	}
	.main-banner__block-under-h1 {
		max-width: 622px;
		width: 100%;
		margin: 0 auto;
	}
	.main-banner__paragraph {
		padding-top: 40px;
	}
	.main-banner__divider {
		margin: 40px auto 0;
	}
	.main-banner__download-button {
		margin-top: 40px;
		width: 300px;
	}

	.form-wrap {
		max-width: 722px;
		padding: 0 50px 0 50px;
		margin: 0 auto;
	}

	.social-media {
		padding-bottom: 15px;
	}
	.social-media__main-block {
		display: block;
	}
	.social-media__text-block {
		text-align: center;
	}
	.social-media__link-list {
		max-width: 670px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px auto 0;
	}
	.social-media__link-list__item {
		width: 64px;
		height: 64px;
	}

	.features__text-block {
		margin-left: 30px;
	}

	.about__main-block, .reviews__main-block {
		display: block;
	}
	.about__main-block__card, .reviews__main-block__box {
		margin: 0 auto;
	}
	.pricing__center-box {
		transform: translate(0, 0);
		box-shadow: none;
	}
	.pricing__main-block {
	grid-template-columns: minmax(auto, auto) minmax(auto, 318px) minmax(auto, 318px) minmax(auto, 318px) minmax(auto, auto);
	grid-template-rows:  minmax(auto, auto);
	row-gap: 30px;
	}
	.pricing__main-block__box:not(:last-child) {
		margin-bottom: 27px;
	}
	.pricing__main-block {
		margin-top: 24px;
		padding-bottom: 26px;
	}

	.reviews__main-block__box {
		min-width: 722px;
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 50px;
	}
	.reviews__main-block__box:first-child {
		padding-left: 50px;
	}
	.reviews__main-block__box:last-child {
		padding-right: 50px;
		margin-bottom: 0;
	}
	.reviews__main-block__blockquote {
		padding: 25px 15px 25px 15px;
		background-color: #E2E2E2;
		border-radius: 10px;
		position: relative;
	}
	.reviews__main-block__image-block {
		margin-top: 40px;
	}

	.contact__form-block {
		display: block;
	}
	.form-input--contact {
		max-width: none;
	}
	.contact__col1 {
		max-width: 722px;
		margin: 0 auto;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
	}
	.contact__col2 {
		max-width: 722px;
		margin: 50px auto 0;
		padding-left: 50px;
		padding-right: 50px;
	}
	.pricing__main-block {
		grid-template-columns: minmax(auto, auto) minmax(288px,370px) minmax(auto, auto);
		grid-template-rows:  minmax(auto, auto) minmax(auto,auto) minmax(auto, auto);
		column-gap: 0px;
		row-gap: 10px;
		}
}

@media only screen and (max-width: 767px) {
	.title-block {
		padding-top: 0;
	}
	.title2 {
		font-size: 18px;
		line-height: 21px;
		padding-top: 46px;
	}
	
	.divider {
		width: 134px;
		margin-top: 46px;
	}

	.fa-brands--social {
	font-size: 23px;
	}
	
	.header__logo-image {
		max-width: 130px;
		max-height: 56px;
		margin-left: 20px;
	}
	.header__burger-block {
		max-height: 56px;
		margin-right: 20px;
	}
	.header__burger-icon {
		width: 24px;
		height: 18px;
	}
	
	.container {
		padding: 0 16px;
	}
	
	.main-banner {
		background-position: center;
	}
	.main-banner__content-block {
		display: block;
		padding-top: 84px;
		padding-bottom: 50px;
	}
	.main-banner__text-block {
		margin: 0;
	}
	.main-banner__logo-block {
		display: none;
	}
	.main-banner__divider {
		width: 144px;
		margin-top: 43px;
	}
	.main-banner__paragraph {
		padding-top: 42px;
	}
	.main-banner__download-button {
		max-width: 288px;
		margin: 42px 0 56px 0;
	}
	
	.form-wrap {
		padding: 0;
	}
	.form-inner {
		padding: 28px 28px 54px 20px;
	}
	.form__title {
		font-size: 14px;
		line-height: 19px;
	}
	.form-inner input:nth-child(2) {
		margin-top: 28px;
	}
	
	.social-media__header-text {
		padding-top: 41px;
	}
	.social-media__link-list {
	width: 284px;
	}

	.social-media__link-list__item {
		width: 26px;
		height: 26px; 
	}

	.features__main-block {
		display: block;
	}
	.features__text-block {
		margin: 0;
		padding: 43px 21px 30px 25px;
		text-align: center;
	}
	.features__text-block__header-text {
		padding: 0;
		font-size: 18px;
		line-height: 25px;
	}
	.features__text-block__paragraph_1 {
		padding-top: 72px;
		font-size: 13px;
		line-height: 15px;
	}
	.features__text-block__paragraph_2 {
		font-size: 13px;
		line-height: 15px;
	}
	.features__text-block__download-button {
		margin-top: 29px;
	}
	.features__image-block {
		display: none;
	}
	
	.about__main-block {
		margin-top: 84px;
	}
	.about__main-block__card {
		padding: 0;
	}
	.about__main-block__image-block {
		margin-top: 44px;
	}
	.about__main-block__paragraph {
		margin-top: 37px;
	}
	.about__main-block__card:last-child {
		margin-bottom: 60px;
	}

	.pricing__main-block {
		grid-template-columns: minmax(auto, auto) minmax(288px,300px) minmax(auto, auto);
		grid-template-rows:  minmax(auto, auto) minmax(auto,auto) minmax(auto, auto);
		column-gap: 0px;
		row-gap: 10px;
		}

	.pricing__main-block__header-text {
		font-size: 18px;
		line-height: 25px;
	}
	.pricing__main-block__price {
		font-size: 24px;
		line-height: 28px;
	}
	.pricing__main-block__paragraph {
		font-size: 14px;
		line-height: 16px;
	}
	.pricing__main-block__list-item {
		font-size: 14px;
		line-height: 16px;
	}


	.reviews__main-block {
		margin-top: 24px;
		margin-bottom: 0px;
	}
	.reviews__main-block__box {
		min-width: 288px;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 50px;
	}
	.reviews__main-block__box:first-child {
		padding-left: 0px;
	}
	.reviews__main-block__box:nth-last-child(2) {
		padding-right: 0px;
		margin-bottom: 0;
	}
	.reviews__main-block__blockquote {
		padding: 25px 15px 25px 15px;
		background-color: #E2E2E2;
		border-radius: 10px;
		position: relative;
	}
	.reviews__main-block__image-block {
		width: 57px;
		height: 57px;
		margin-top: 62px;
	}
	.reviews__main-block__text-block__speciality {
		margin-top: 18px;
	}
	.reviews__main-block__text-block {
		margin: -45px 0px 0px 85px;
	}
	.reviews__dots-list-block {
		display: block;
		max-width: 130px;
		max-height: 10px;
		margin: 32px auto 32px;
	}
	.reviews__dots-list {
		display: flex;
		justify-content: space-between;
	}
	

	.second-banner {
		background-position: center;
	}
	.paragraph--light {
	margin-top: 16px	;
	}
	.second-banner__button {
		max-width: 287px;
		margin-top: 66px;
		margin-bottom: 58px;
	}
	.contact__button {
		max-width: 288px;
		height: 50px;
	}

	.footer__link-list {
		width: 284px;
	}
	
	.footer__link-list__item {
		width: 26px;
		height: 26px;
	}
	.fa-brands--footer {
		font-size: 23px;
	}
	.footer__copyright-block__paragraph {
		margin-top: 44px;
		padding-bottom: 45px;
	}
}

@media only screen and (max-width: 575px) {



}