* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	/*background-color: #FFFFFF;*/
}

h1,
.title1 {
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;	
}

h2,
.title2 {
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
}

h3,
.title3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

h4,
.title4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
}

h5,
.title5 {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

h6,
.title6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0px auto;
	}

.button {
	width: 370px;
	height: 58px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	background: #EC7979;
	border: 2px solid #EC7979;
}

.button--light {
	border: 2px solid #FFFFFF;
	background-color: transparent;
}

.divider {
	width: 170px;
	margin: 54px auto 0px;
	border-top: 1px solid #EC7979;
}

.divider--light {
	border-top: 1px solid #FFFFFF;
}

.title-block {
	padding-top: 104px;
	text-align: center;
}

.paragraph {
	margin: 40px 0px 0px 0px;
	color: #86878B;
}

.paragraph--light {

}

.header {
	width: 1510px;
	height: 75px;
	max-width: 1510px;
	max-height:  75px;
	background-color: black;
}

.header__nav {
	width: 1510px;
	height: 75px;
	max-width: 1510px;
	max-height:  75px;
	
}

.header__logo-link {
	width: 183.1px;
	height: 74.85px;
}

.header__logo-image {
	width: 183.1px;
	height: 74.85px;
	margin-right: 1211.62px;
	margin-left: 115.28px;
}

.header__menu {
	width: 570px;
	height: 75px;
	padding: 0px 170px 0px 770px;
	margin-top: -47px;
}

.header__menu__item {
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
}


.header__menu__link {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
}

.main-banner {
	background-image: url(../images/bg.png), url(../images/image.jpg);
	color: #FFFFFF;
}

.main-banner__logo-block {
	width: 270px;
	height: 100px;
   padding: 208px 1070px 0px 170px;
}

.main-banner__logo-image {
	width: 270px;
	height: 100px;
}

.main-banner__header-text {
	width: 670px;
	height: 168px;
	margin: 50.88px 670px 0px 170px;
}

.main-banner__block-under-h1 {
	width: 270px;
	height: 184px;
	padding: 55.12px 1070px 0px 170px;
}

.main-banner__paragraph {
	width: 270px;
	height: 42px;
	padding: 42px 0px 0px 0px;
}

.main-banner__download-button {
	width: 270px;
	margin: 42px 0px 0px 0px;
}

.social-media {
	height: 140px;
	background: #F8EFEF;
}

.social-media__main-block {
	height: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media__text-block {
	margin-top: -20px;
}

.social-media__header-text {
	line-height: 60px;
	color: #333;
}

.social-media__paragraph {
	margin-top: 18px;
	color: #86878B;
}

.social-media__list-block {
	
}

.social-media__link-list {
	width: 670px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.social-media__link-list__item {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media__link-list__image {
	/*vertical-align: middle;*/
}

.features {
	height: 639px;
}

.features__tabs-list {
	padding-top: 99px;
	display: flex;
	justify-content: flex-start;
}

.features__tabs-list__item {
	width: 184px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #333;
}

.tab1 {
	width: 201px;
	border-top: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
	border-left: 1px solid #C6CBCD;
}

.features__main-block {
	width: 1170px;
	height: 501px;
	border: 1px solid #C6CBCD;
	display: flex;
	justify-content: space-between;
}

.features__text-block {
	width: 570px;
	height: 500px;
	margin: 0px 0px 0px 100px;
}

.features__text-block__header-text {
	padding-top: 42px;
}

.features__text-block__paragraph_1 {
	padding-top: 69px;
}

.features__text-block__paragraph_2 {
	padding-top: 21px;
}

.features__text-block__download-button {
	width: 270px;
	margin: 27px 0px 0px 0px;
}

.features__image-block {
width: 470px;
height: 500px;
}

.features__image {
	max-width: 470px;
	max-height: 500px;
}

.about {
	height: 773px;
}

.about__main-block {
	width: 1170px;
	margin-top: 71px;
	display: flex;
	justify-content: space-between;
}

.about__main-block__card {
	width: 370px;
	text-align: center;
}

.about__main-block__image-block {
	width: 92px;
	height: 92px;
	margin: 39px auto 0px;
	background-image: url(../images/Ellipse\ 6.svg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__main-block__header-text {
	margin-top: 72px;
}

.about__main-block__paragraph {
	margin-top: 41px;
}

.pricing {
	height: 900px;
	background-color: #F5F5F5;
}

.pricing__main-block {
	width: 1170px;
	height: 510px;
	margin-top: 79px;
	display: flex;
	justify-content: space-between;
}

.pricing__main-block__box {
	width: 370px;
	height: 510px;
	text-align: center;
	background-color: #333333;
	color: #ffffff;
}

.pricing__main-block__header-text {
	padding: 13px 0px 13px 0px;
	border-bottom: 2px solid #FFFFFF;
}

.pricing__main-block__price {
	padding: 28px 0px 28px 0px;
	border-bottom: 2px solid #FFFFFF;
}

.pricing__main-block__paragraph {
	padding: 15px 0px 14px 0px;
	color: rgba(255, 255, 255, 0.5);
}

.pricing__main-block__list-item {
	padding: 14px 0px 13px 0px;
	color: #86878B;
	background-color: #FFFFFF;
	border-bottom: 2px solid #F5F5F5;
}

.reviews {
	height: 744px;
}

.reviews__main-block {
	height: 336px;
	margin: 83px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
}

.reviews__main-block__box {
	width: 370px;
	height: 336px;
}

.reviews__main-block__blockquote {
	width: 370px;
	height: 180px;
	color: #86878B;
	background-color: #E2E2E2;
	border-radius: 10px;
	display: flex;
	align-items: center;
	text-align: center;
}

.reviews__main-block__image-block {
	width: 70px;
	height: 70px;
	margin: 66px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews__main-block__text-block {
	width: 270px;
	height: 90px;
	margin: -70px 0px 0px 100px;
}

.reviews__main-block__text-block__name {
	width: 269px;
	height: 54px;
	padding-top: 10px;
}

.reviews__main-block__text-block__speciality {
	height: 21px;
	margin-top: 15px;
}

.second-banner {
	height: 442px;
	background-image: url(../images/bg\ \(1\).png), url(../images/image\ \(1\).jpg);
	color: #FFFFFF;
}

.second-banner__button {
	margin: 73px auto 0px;
}

.contact {
	height: 722px;
}

.contact__button {
	margin: 50px auto 0px;
	/*margin: 27px 570px 0px 570px;*/
}

.footer {
	width: 1510px;
	height: 164px;
	background-color: #000000;
}

.footer__link-list {
	width: 570px;
	margin: 0 auto;
	padding-top: 35px;
	display: flex;
	justify-content: space-between;
}

.footer__link-list__item {
	background-size: cover;
	width: 53.2px;
	height: 53.2px;
}

.footer__link-list__image {
   vertical-align: middle;
	width: 53.2px;
	height: 53.2px;
}

.footer__copyright-block__paragraph {
	margin-top: 29px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}
