* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #FFFFFF;
}

h1,
.title1 {
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;	
}

h2,
.title2 {
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
}

h3,
.title3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

h4,
.title4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
}

h5,
.title5 {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

h6,
.title6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0px auto;
	}

.button {
	width: 370px;
	height: 58px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	background: #EC7979;
	border: none;
}

.button:hover {
	background: #AB4949;
}

.button:active {
	background: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
}

.button--light {
	border: 2px solid #FFFFFF;
	background-color: transparent;
}

.button--light:hover {
	color: #EC7979;
	border: 2px solid #EC7979;
	background-color: transparent;
}

.button--light:active {
	color: #FFFFFF;
	background: #AB4949;
	border: 2px solid #AB4949;
}

.divider {
	width: 170px;
	margin: 54px auto 0px;
	border-top: 1px solid #EC7979;
}

.divider--light {
	border-top: 1px solid #FFFFFF;
}

.title-block {
	padding-top: 104px;
	text-align: center;
}

.paragraph {
	margin: 40px 0px 0px 0px;
	color: #86878B;
}

.paragraph--light {
	color: #FFFFFF;
}

.header {
	background-color: black;
	/*position: fixed;*/
	z-index: 1;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-link {

}

.header__logo-image {
	max-width: 183.1px;
	max-height: 74.85px;
	margin-left: 115px;
}

.header__menu {
	min-width: 570px;
	margin-right: 170px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__menu__item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header__menu__link {
	min-width: 114px;
	height: 75px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
}

.header__menu__paragraph {
   margin-top: 27px;
}

.header__menu__link:hover {
	text-transform: uppercase;
	background-color: #EC7979;
}

.header__menu__link:active {
	text-transform: uppercase;
	background-color: #AB4949;
}

.main-banner {
	background-image: url(../images/image.jpg);
	color: #FFFFFF;
	/*background-repeat: no-repeat;*/
	background-size: cover;
	position: relative;
	z-index: 0;
}

.main-banner__shadow-block {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	z-index: -1;
}

.main-banner__content-block {
	display: flex;
	justify-content: space-between;
	padding-top: 208px;
	padding-bottom: 185px;
}

.main-banner__text-block {
}

.main-banner__logo-block {
	width: 270px;
	height: 100px;
	background-size: cover;
}

.main-banner__logo-image {
	width: 270px;
	height: 100px;
}

.main-banner__header-text {
	margin-top: 51px;
}

.main-banner__block-under-h1 {
	width: 270px;
}

.main-banner__divider {
	margin: 54px 0 0 0;
}

.main-banner__paragraph {
	padding: 42px 0px 0px 0px;
}

.main-banner__download-button {
	width: 270px;
	margin-top: 42px;
}

.form-wrap {
}

.form {
	color: #333333;
	background: #fff ;
	border-radius: 10px;
}

.form-inner {
	padding: 28px 50px 78px;
}

.form__title {
	text-align: center;
}

.form-input {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #000;
	border: none;
	border-bottom: 1px solid #BDBDBD;
	padding: 0 0 15px 0;
}

.form-input--main-banner {
	margin-top: 36px;
}

.form-inner input:nth-child(2) {
	margin-top: 73px;
}

.form-input::placeholder {
	color: #BDBDBD;
}

.form-input:focus {
	border-color:  #000;
}

.form__span-word {
	vertical-align: text-top;
	color: #EC7979;
}

.form__button {
	width: 100%;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
	}

.social-media {
	background: #F8EFEF;
}

.social-media__main-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media__text-block {
	margin-bottom: 18px;
}

.social-media__header-text {
	line-height: 60px;
	color: #333;
}

.social-media__paragraph {
	margin-top: 18px;
	color: #86878B;
}

.social-media__list-block {
	
}

.social-media__link-list {
	width: 670px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media__link-list__item {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media__link-list__image {

}

.social-media__link-list__link { 

}

.fa-brands {
	font-size: 50px;
	color: #ccc;
}

.instagram {
	
}

.features {
	position: relative;
}

.features__tabs-list {
	padding-top: 99px;
	display: flex;
	justify-content: flex-start;
}

.features__tabs-list__item {
	width: 184px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #333;
}

.tab1 {
	width: 201px;
	border-top: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
	border-left: 1px solid #C6CBCD;
	border-radius: 5px 5px 0px 0px;
}

.rectangle {
	position: absolute;
	transform: translate(1px, 138px);
	width: 199px;
	height: 1px;
	background: #FFFFFF
}

.features__main-block {
	border: 1px solid #C6CBCD;
	display: flex;
	justify-content: space-between;
}

.features__text-block {
	margin: 0px 30px 0px 100px;
}

.features__text-block__header-text {
	padding-top: 42px;
}

.features__text-block__paragraph_1 {
	padding-top: 69px;
}

.features__text-block__paragraph_2 {
	padding-top: 21px;
}

.features__text-block__download-button {
	width: 270px;
	margin: 27px 0px 0px 0px;
}

.features__image-block {

}

.features__image {
	max-width: 470px;
	max-height: 500px;
}

.about {

}

.about__main-block {
	margin-top: 71px;
	display: flex;
	justify-content: space-between;
}

.about__main-block__card {
	max-width: 370px;
	text-align: center;
	padding-bottom: 58px;
}

.about__main-block__image-block {
	width: 92px;
	height: 92px;
	margin: 39px auto 0px;
	background-image: url(../images/Ellipse\ 6.svg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__main-block__header-text {
	margin-top: 72px;
}

.about__main-block__paragraph {
	margin-top: 41px;
}

.pricing {
	background-color: #F5F5F5;
}

.pricing__main-block {
	margin-top: 79px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.pricing__main-block__box {
	width: 370px;
	text-align: center;
	background-color: #333333;
	color: #ffffff;
}

.pricing__center-box {
	transform: translateY(-20px);
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

.pricing__main-block__header-text {
	padding: 13px 0px 13px 0px;
	border-bottom: 2px solid #FFFFFF;
}

.pricing__main-block__price {
	padding: 28px 0px 28px 0px;
	border-bottom: 2px solid #FFFFFF;
}

.pricing__main-block__paragraph {
	padding: 15px 0px 14px 0px;
	color: rgba(255, 255, 255, 0.5);
}

.pricing__main-block__list-item {
	padding: 14px 0px 13px 0px;
	color: #86878B;
	background-color: #FFFFFF;
	border-bottom: 2px solid #F5F5F5;
}

.reviews {
	
}

.reviews__main-block {
	margin: 83px 0px 64px 0px;
	display: flex;
	justify-content: space-between;
}

.reviews__main-block__box {
	max-width: 370px;
}

.reviews__main-block__blockquote {
	padding: 38px 15px 37px 15px;
	background-color: #E2E2E2;
	border-radius: 10px;
	position: relative;
}

.reviews__blockquote-text {
	color: #86878B;
	text-align: center;
}

.triangle {
	position: absolute;
	bottom: -20px;
	left: 70px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
}

.reviews__main-block__image-block {
	width: 70px;
	height: 70px;
	margin: 66px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews__main-block__text-block {
	margin: -70px 0px 0px 100px;
}

.reviews__main-block__text-block__name {
	padding-top: 10px;
}

.reviews__main-block__text-block__speciality {
	margin-top: 25px;
}

.second-banner {
	background-image: url(../images/image\ \(1\).jpg);
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	z-index: 1;
}

.second-banner__shadow-block {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	z-index: -1;
}

.second-banner__button {
	margin: 73px auto 50px;
}

.contact {
	text-align: center;
}

.contact__form-block {
	margin-top: 89px;
	display: flex;
	justify-content: space-between;
}

.contact__col1 {
	text-align: left;
}

.form-input--contact {
	width: 570px;
	margin-top: 52px;
}

.contact__col1 input:first-child {
	margin: 0;
}

.contact__col2 textarea:first-child {
	margin: 0;
	padding-bottom: 192px;
}

textarea.form-input {
	width: 570px;
	height: 211px;
	resize: vertical;
	padding: 0px;
}


.contact__button {
	margin: 50px auto 50px;
}

.footer {
	height: 164px;
	background-color: #000000;
}

.footer__link-list {
	width: 570px;
	margin: 0 auto;
	padding-top: 35px;
	display: flex;
	justify-content: space-between;
}

.footer__link-list__item {
	background-size: cover;
	width: 53px;
	height: 53px;
}

.footer__link-list__image {
   vertical-align: middle;
	width: 53px;
	height: 53px;
}

.footer__copyright-block__paragraph {
	margin-top: 29px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}