.box {
	border: solid 3px #000;
	margin: 100px auto;
	width: 300px;
	height: 100px;
}

.inner {
	height: 100%;
	background-color: steelblue;
	width: 100%;
}

.box:hover > .inner{
	width: 100px;
	height: 100px;
	animation: dvizh 3s ease-in-out alternate infinite;
}

@keyframes dvizh {
	0% {
		transform: translateX(0%);
	}
	50% {
		
	}
	100% {
		transform: translateX(300%);
	}
}