@media only screen and (max-width: 1199px) {
	.big-block {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) { 
	
}

@media only screen and (max-width: 575px) { 
	
}

@media only screen and (orientation: portrait) and (max-width: 575px) {
	.row {
		margin: 0;
	}

	.box {
		margin-right: -15px;
		margin-left: -15px;
	}
}